slide-box {
    .ks-slide {
        width: 960px;
        height: 540px;
        position: absolute;
        left: 50%;
        margin-left: -480px;
        top: 50%;
        margin-top: -270px;
    }
}