page-mark-courseware {
    p,dl,dt,dd {margin:0;padding:0;}
    .margin-Padding0 {
        margin:0;
        padding: 0;
    }
    .border0 {border: 0!important;}
    .mark-empty {
        position: relative;
        
    }
    .mark-empty-con {
        margin-top:17.1%;
        
    }
    .mark-empty-img {
        width: 50%;
        height: 25.5%;
        margin-left:25%;
        margin-bottom:1.5%;
    }
    .mark-empty-title {
        height: 3.7%;
        font-size: 18px;
        color: #97989B;
        letter-spacing: 0;
        text-align: center;
    }
    // .mark-empty {
    //     .mark-empty-con {
           
    //         .mark-empty-img {
    //             width: 50.1%;
    //             height: 25.5%;
    //             margin-bottom: 3%;
    //         }
    //         .mark-empty-title {
    //             text-align: center;
    //             font-family: PingFangSC-Regular;
    //             font-size: 18px;
    //             color: #525F72;
    //             letter-spacing: 2.07px;
    //         }

    //     }
    // }
    
       
    
}
