page-answer-result {
    h1,p {margin:0;padding:0;}
    button,input {background:none;}
    .answer-close {
        display: inline-block;
        width: 6.4%;
        height: 3.6%;
        // margin-left: 3.2%;
        // margin-bottom: 1.8%;
    }
    .answer-result {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        font-family: "PingFangSC-Regular";
        .answer-title {
            font-size: 20px;
            color: #515E72;
            letter-spacing: 2.3px;
            margin: 1.9% 0;
            text-align: center;
        }
        .answer-text {
            font-size: 16px;
            color: #7C7A82;
            letter-spacing: 0;
            line-height: 22px;
            margin:0 9.3%;
            text-align: center;
        }
        .answer-icon {
            display: flex;
            flex-grow: row nowrap;
            justify-content: center;
            margin-bottom: 3%;
            img {
                 width: 24.8%;
                height: 13.9%;
            
            }
           
        }
        .answer-img {
            display: flex;
            flex-grow: row nowrap;
            justify-content: center;
            margin-bottom: 8.2%;
            img {
                width: 80%;
                height: 27%;
            
            }
        }
        .answer-btn {
            display: flex;
            flex-grow: row nowrap;
            justify-content: center;

             
        }
    }
}
