page-personal-name {
    .border0 {border: 0!important;}
    .setName {
        position: relative;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        height: 7.2%;
        margin-top: 1.6%;
        padding-left: 3.2%;
        background: #fff;
        font-family: "PingFangSC-Regular";
    }
    .label-base{
        display: inline-block;
        background-color: #fff;
        font-size: 16px;
        color: #97989B;
        letter-spacing: 0;
    }
    .setText {
        font-size: 16px;
        color: #4A4A4A;
        letter-spacing: -0.39px;
        margin-left: 8%;
        border: 0;
    }
    .d-r {
        position:absolute;
        right:3.2%;
        top: 25%;
        width: 6.4%;
    }
}
